.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	/* min-height: 100vh; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.container {
	max-width: 720px;
	margin: 0 auto;
	padding: 48px;
}

.submission {
	max-width: 100%;
	padding: 24px;
	border-radius: 8px;
	box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.08);
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.submission label {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
}
.submission input {
	padding: 12px 16px;
	margin-top: 4px;
	border: 1px solid lightgray;
	border-radius: 4px;
}
.submission button {
	padding: 12px 16px;
	border: none;
	border-radius: 4px;
	background-color: red;
	color: white;
	cursor: pointer;
}
.submission button:hover {
	background-color: darkred;
}

.avenger {
	max-width: 100%;
	padding: 0px 12px;
	margin-bottom: 12px;
	border-radius: 8px;
	border: 1px solid lightgray;
	text-align: left;
}
